.DS_Store
.DS_Store?
C1 - Azure Infrastructure Operations/project/terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.58.0/darwin_amd64/terraform-provider-azurerm_v2.58.0_x5
C1 - Azure Infrastructure Operations/project/terraform/.terraform.lock.hcl
C1 - Azure Infrastructure Operations/project/terraform/terraform.tfstate
C1 - Azure Infrastructure Operations/project/terraform/terraform.tfstate.backup
C1 - Azure Infrastructure Operations/project/terraform/.terraform.tfstate.lock.info